[submodule "themes/ultradocs"]
	path = themes/ultradocs
	url = https://github.com/loulibre/ultradocs.git
[submodule "docs/themes/ultradocs"]
	path = docs/themes/ultradocs
	url = https://github.com/loulibre/ultradocs.git
[submodule "docs/docs/themes/ultradocs"]
	path = docs/docs/themes/ultradocs
	url = https://github.com/loulibre/ultradocs.git
[submodule "docs/themes/ultradoc"]
	path = docs/themes/ultradoc
	url = https://github.com/loulibre/ultradocs.git
